.panels .panel-1 {
  background: url(../images/panel-1.jpg) top center;
}
.panels .panel-2 {
  background: url(../images/panel-2.jpg) top center;
}
.panels .panel-3 {
  background: url(../images/panel-3.jpg) top center;
}
.panels .panel-4 {
  background: url(../images/panel-4.jpg) top center;
}
.panels .panel-5 {
  background: url(../images/panel-5.jpg) top center;
}
.panels .panel-6 {
  background: url(../images/panel-6.jpg) top center;
}
.panels .panel-7 {
  background: url(../images/panel-7.jpg) top center;
}
.panels .panel-8 {
  background: url(../images/panel-8.jpg) top center;
}
.panels .panel-9 {
  background: url(../images/panel-9.jpg) top center;
}
.panels .panel-10 {
  background: url(../images/panel-10.jpg) top center;
}